name: PR labeler on push
# This workflow is triggered on pushes to the repository.
on:
  push:

jobs:
  pr_labeler:
    name: Update pr label
    runs-on: ubuntu-20.04
    steps:
      - name: Set ready for review
        uses: andymckay/labeler@1.0.4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          add-labels: "Ready for review"
          remove-labels: "Review done, Work in progress"
          ignore-if-labeled: true
